.registration-form {
    position: relative;
    display: grid;
    place-self: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 800px;
    width: 100%;
    column-gap: var(--spacing-xl);
    row-gap: var(--spacing-s);
    background-color: var(--main-200);
    padding: var(--spacing-xxxxl);
}

.registration-form__inner-wrapper {
    grid-column: 1/-1;
    gap: var(--spacing-xl);
    display: grid;
    grid-template-columns: subgrid;
}

.registration-form__input-wrapper[for="address"] {
    grid-column: 1/-1;
}

.registration-form__error {
    position: absolute;
    top: var(--spacing-l);
    color: var(--color-error);
    grid-column: 1/-1;
}

.registration-form button {
    grid-column: 1/-1;
    justify-self: end;
    margin-top: var(--spacing-l);
}