table {
  width: 80%;
  margin-left: auto;
  margin-top: 20px;
  border-collapse: collapse;
  border: var(--border);
  text-align: left;
}
thead {
  background-color: var(--main-300);
}

td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--main-300);
  border-right: var(--border);
}
th {
  padding: 0 16px;
  border-right: var(--border);
}

tbody tr:nth-child(even) {
  background-color: var(--main-100);
}
tbody tr:nth-child(odd) {
  background-color: var(--main-200);
}

tbody tr:hover {
  background-color: var(--accent2);
}
.th-title1 {
  width: 60%;
}
