.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal__container {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--accent2);
}

.modal__close {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
.modal__close:hover {
  filter: invert(23%) sepia(95%) saturate(950%) hue-rotate(0deg) brightness(95%)
    contrast(105%);
}
