.button {
    border: var(--border);
    background-color: var(--main-100);
    place-self: center;
    padding-inline: 1rem;
}

.button--medium {
    padding-block: var(--spacing-xs);
    box-shadow: 3px 3px 0 var(--black);
    min-width: 7rem;
}

.button--large {
    padding-block: var(--spacing-xxxl);
    box-shadow: 4px 4px 0 var(--black);
    min-width: 7rem;
}

.button__text--medium {
    font-size: var(--font-size-m);
}

.button__text--large {
    font-size: var(--font-size-xl);
}

@media (pointer: fine) {
    .button:hover {
        cursor: pointer;
        background-color: var(--accent2);
    }
}