.header {
  padding-block: var(--spacing-m);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.header__back-button {
  display: grid;
  place-items: center;
  grid-column: 1/2;
  justify-self: start;
  font-size: var(--font-size-l);
  background-color: var(--main-300);
  padding-inline: 1rem;
  border: var(--border);
  border-radius: 8px;
  color: var(--black);
  text-decoration: none;
}

.header__logout-button {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  justify-self: end;
  background-color: var(--main-300);
  border: var(--border);
  border-radius: 10px;
  padding-inline: var(--spacing-s);
  padding-block: var(--spacing-xs);
  transition: background-color 0.2s ease-in-out;
}

.header__logout-text {
  font-size: var(--font-size-m);
}

@media (pointer: fine) {

  .header__logout-button:hover,
  .header__back-button:hover {
    cursor: pointer;
    background-color: var(--accent2);
  }
}